body{
  margin-right:30px;
  margin-left:30px;
}
.all {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}
.adress{
  line-height:2em;
  margin-bottom:100px;
  margin-top:100px;
}
h1 {
    text-align: center;
    background-color:lightgray;
    color:rgb(0, 204, 0);
    padding: 20px; 
    font-size: 2em;
    margin: 0 30%;
}
img {
    float: right;
    width: 200px;
    margin-right:10px;
}
.profile {
;
}
h2 {
    color: rgb(0, 204, 0);
    border-bottom:solid 2px black;
}
h3{
  color:blue;
}
em{
  color:red;
}
