@media only screen and (min-width:901px) {}
body{
    margin: 0px;
}
h1,
h2 {
    color: #01689b;
}
h3{
    margin-left: 5%;
    font-size: 20px;
}

.logo {
    
    top: 0px;
    padding-left: 45%;
    padding-bottom: 0%;
    margin-top: 0px;
    padding-top: 0px;
}

main {
    position: relative;
    top: 100px;

}

#nav-bar {

    height: 60px;
    background-color: #01689b;
    position: relative;
    top: 18px;
}

.nav-bar {
    color: white;
    position: relative;
    top: 15px;
    list-style: none;
    display: inline-block;
    background-color: #01689b;
    font-family: sans-serif;




}

.nav-bar:nth-child(1) {
    width: 35%;
    font-size: 25px;
}

.nav-bar:nth-child(n+2) {
    width: 10%;
    font-size: 17px;
}

.photo-list {
    font-size: 18px;
    font-family: sans-serif;
    color: #01689b;
    position: absolute;
    top: 37%;
    background-color: white;
    line-height: 2em;
    width: 400px;
    margin-left: 25px;
    margin-bottom: 0px;
}


.main-photo {

    width: 100%;
    height: 300px;

}

#main-list {
    margin-top: -4px;
    background-color: #f3f3f3;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.main-list {
    list-style: none;
    width: calc(25% - 50px);
}

#second-list {
    padding-top: 30px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.second-list {
    width: calc(33% - 50px);


}

.second-list img {
    width: 100%;
}

#third-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.third-list {
    width: calc(33% - 50px);

}

h2 strong {
    color: black;
    margin-left: 60px;
}

.top-section {
    margin: 0px 50px;
    border-top: 0.5px solid grey;
}

#fourth-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start ;
    list-style: none;
}

.fourth-list {
    width: 25%; 
    font-size: 30px;
    text-align: center;
    border:4px solid grey ;
    margin-left: 45px;
}
.fourth-list:nth-child(1) span{
    font-size: 40px;
    line-height: 1.5em;
    color: #01689b;
   
}
bottom-part{
    color: black;
}

.fourth-list:nth-child(2) span{
    color: blueviolet;
} 
.bottom-section{
   background-color: #01689b; 
}
.left-side{
    color: white;
    float: left;
    font-size: 30px;
    padding-left: 2%;
}
table{
    padding:5% 2%;
    line-height: 2em;
      color: white;
    margin:5% 65% ;
    width:35%;
    text-align: center;
}

 

/* mobile */
@media only screen and (min-width:0px) and (max-width:360px) {
    
body{
    min-width: 360px;
    margin: 0px;
}
h1,
h2 {
    color: #01689b;
}
h3{
    margin-left: 5%;
    font-size: 20px;
}

.logo {
    
    top: 0px;
    padding-left: 45%;
    padding-bottom: 0%;
    margin-top: 0px;
    padding-top: 0px;
}


#nav-bar {
    background-color: #01689b;
    height: 150px;
    top: 18px;
    display : inline-block;
    float: left;
    width: 100%;
    
}

.nav-bar {
    color: white;
    top: 15px;
    list-style: none;
    font-family: sans-serif;
    margin-left: -27px;
}

.nav-bar:nth-child(1) {
    width: 100%;
    font-size: 25px;
    text-align: center;
    line-height: 2em;
}

.nav-bar:nth-child(n+2) {
    width: calc(50% - 2px);
    font-size: 17px;
    text-align: center;
    line-height: 1.7em;
}

.photo-list {
    font-size: 18px;
    font-family: sans-serif;
    color: #01689b;
    position: absolute;
    top: 55%;
    background-color: white;
    line-height: 2em;
    width: 300px;
    margin-left: 50px;
    margin-bottom: 0px;
}


.main-photo {

    width: 100%;
    height: 300px;

}

#main-list {
    margin-top: -4px;
    background-color: #f3f3f3;
    padding: 0px 20px;
    list-style: none;
    position: relative;
    display: inline-block;
}

.main-list {
    list-style: none;
    width: 100%;
    
}

#second-list {
    padding: 0px 20px;
    list-style: none;
    position: relative;
    display: inline-block;

}

.second-list {
    width: 100%;


}

.second-list img {
    width: 100%;
}

#third-list {
    list-style: none;
    position: relative;
    display: inline-block;
    width: 90%;
    margin: 0px;
    padding: 0px
}

.third-list {
    width: 100%;
    

}

h2 strong {
    color: black;
    margin: -20px
}

.top-section {
    border-top: 0.5px solid grey;
}

#fourth-list {
    position: relative;
    list-style: none;
    display: inline-block;
    line-height: 2em;
    padding: 30px;
}

.fourth-list {
    width: 100%; 
    font-size: 20px;
    text-align: center;
    border:4px solid grey ;
    line-height: 2em;
    margin-bottom: 7px;
}
.fourth-list:nth-child(1) span{
    font-size: 40px;
    line-height: 1.5em;
    color: #01689b;
   
}
bottom-part{
    color: black;
}

.fourth-list:nth-child(2) span{
    color: blueviolet;
} 
.bottom-section{
   background-color: #01689b; 
   
}
.left-side{
    color: white;
    float: left;
    font-size: 28px;
    padding-left: 7%;
}
table{
    
    line-height: 2em;
      color: white;
    margin:0% 18% ;
    width:65%;
    text-align: center;
    
}

}



/* Tab */
@media only screen and (min-width:681px) and (max-width:900px) {
body{
    margin: 0px;
}
h1,
h2 {
    color: #01689b;
}
h3{
    margin-left: 5%;
    font-size: 20px;
}

.logo {
    
    top: 0px;
    padding-left: 46%;
    padding-bottom: 0%;
    margin-top: 0px;
    padding-top: 0px;
}


#nav-bar {
    background-color: #01689b;
    height: 150px;
    top: 18px;
    padding: 0px;
    display : inline-block;
    float: left;
    width: 100%;
    
}

.nav-bar {
    color: white;
    top: 15px;
    list-style: none;
    font-family: sans-serif;
    
}

.nav-bar:nth-child(1) {
    width: 100%;
    font-size: 25px;
    text-align: center;
    line-height: 2em;
}

.nav-bar:nth-child(n+2) {
    width: calc(33% - 2px);
    font-size: 17px;
    text-align: center;
    line-height: 1.7em;
}

.photo-list {
    font-size: 18px;
    font-family: sans-serif;
    color: #01689b;
    position: absolute;
    top: 50%;
    background-color: white;
    line-height: 2em;
    width: 300px;
    margin-left: 50px;
    margin-bottom: 0px;
}


.main-photo {
    width: 100%;
    height: 300px;

}

#main-list {
    margin-top: -5px;
    background-color: #f3f3f3;
    padding: 0px 20px;
}

.main-list {
    list-style: none;
    position: relative;
    display: inline-block;
    width: calc(50% - 2px);
    
}

#second-list {
    padding: 0px 20px;
}

.second-list {
    width: 100%;
    width: calc(45% - 4px);
    list-style: none;
    position: relative;
    display: inline-block;


}

.second-list img {
    width: 100%;
}

#third-list {
    width: 100%;
    margin: 0px;
    padding: 0px
}

.third-list {
    list-style: none;
    position: relative;
    display: inline-block;
    margin-right: 0px;
    width: calc(45% - 4px);
    

}

h2 strong {
    color: black;
    margin: -20px
}

.top-section {
    border-top: 0.5px solid grey;
}

#fourth-list {
    padding: inherit;
    line-height: 2em;
    
}

.fourth-list {
    position: relative;
    list-style: none;
    display: inline-block;
    width: calc(40% - 5px);
    text-align: center;
    border:4px solid grey ;
    line-height: 2em;
}
.fourth-list:nth-child(1) span{
    font-size: 40px;
    line-height: 1.5em;
    color: #01689b;
   
}
bottom-part{
    color: black;
}

.fourth-list:nth-child(2) span{
    color: blueviolet;
} 
.bottom-section{
   background-color: #01689b; 
   
}
.left-side{
    color: white;
    float: left;
    font-size: 28px;
    padding-left: 20%;
}
table{
    
    line-height: 2em;
      color: white;
    margin:0% 18% ;
    width:65%;
    text-align: center;
    
}    
    
}